<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='{{ metadesc }}'>
    <meta name='keywords' content='{{ metakeywords }}'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <block name='title'>
      <title>Fly My Community - Video Landing</title>
    </block>

    <link rel='stylesheet' href='css/index.css' />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <main id='{{ pageId }}'>
      <block name='content'></block>
    </main>

    <block name='javascript'>
      <script src='js/main.js' defer></script>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/modal.js"></script>
      <script src="js/bs-animation.js"></script>
      <script src="js/custom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.js"></script>
      <script src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59f69bb3eb4c4db8"></script>
      
      <script type="text/javascript">
        // Bind as an event handler
        $(document).on('click', '#one', lity);
      </script>

    </block>
  </body>
</html>
